body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);

}

html,
body {
    height: 100%;
    margin: 0;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    margin: 0;
    height: 100%;
}

#side-by-side view
.sbs-container {
    padding: 20px;
}

#login view
.lv-container {
    padding: 20px;
}

#changelog 
.cv-container {
    overflow: auto;
}

#robotselector
.rs-container {
    overflow: auto;
}